*{
    padding: 20px;
    margin: 0;
}
h1{
    font-size: 60px;
    text-align: center;
    padding: 30px;
    tex
}
.img{
    height: 250px;
    width: 500px;
    padding-left: 25%;
}
p{
   font-size: 1em; 
   
}
span{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
h2{
    
}
body{
    margin: 10px 10px;
}
h3{
    font-size: medium;
    text-align: center;
}